spring:
  datasource:
    url: jdbc:mysql://localhost:3306/freelearn?createDatabaseIfNotExist=true&useSSL=false
    username: root
    password: 12345678
  jpa:
    hibernate:
      ddl-auto: update

logging:
  level:
    org:
      hibernate:
        sql: debug